# From .NET Core 3.0 you can use the command: `dotnet new gitignore` to generate a customizable .gitignore file

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
AddMigration.sh
Mint.Database/Migrations/20260706230835_RenameToDebit.cs
Migration.txt
Mint.Database/catgories.sql
Mint.Database/rss_sources.sql
Mint.Database/job_scheduling.sql
Mint.Database/create_transaction.sql
Mint.App.Services/System/Settings/Handlers/SystemSettingHandler.cs
Mint.App.Services/System/WinCalculation/Handlers/DuelCalculationHandler.cs
Mint.App.Services/UserInteractive/Bonuses/Handlers/BonusCalculationHandler.cs
Mint.App.Services/UserInteractive/Leaderboards/LeaderboardHandler.cs
Mint.Common.Contracts/Settings/SettingKeysConstants.cs
Mint.Database/MintDbContext.cs
Mint.Database/Entities/System/Settings/SystemSettingEntity.cs
Mint.Database/Entities/System/Settings/Dto/SystemSettingDto.cs
Mint.Database/Entities/System/Settings/Dto/SystemSettingUpsertDto.cs
Mint.Database/Entities/System/Settings/Initializers/SettingsInitializer.cs
Mint.Database/Entities/System/Settings/Mappers/DbSystemSettingCreateMapper.cs
Mint.Database/Entities/System/Settings/Mappers/DbSystemSettingMapper.cs
Mint.Database/Entities/System/Settings/Repositories/ISystemSettingRepository.cs
Mint.Database/Entities/System/Settings/Repositories/SystemSettingRepository.cs
Mint.Database/Infrastructure/Data/InitDataExtensions.cs
Mint.Database/Infrastructure/Data/Settings/InitSettingsExtensions.cs
Mint.Database/Infrastructure/DI/DatabseExtensions.cs
Mint.Database/Infrastructure/DI/News/NewsMappersExtensions.cs
Mint.Database/Infrastructure/DI/News/NewsRepositoriesExtensions.cs
Mint.Database/Infrastructure/DI/System/SettingMappersExtensions.cs
Mint.Database/Infrastructure/DI/System/SettingRepositoriesExtensions.cs
Mint.Database/Migrations/20260810191046_AddSystemSettings.cs
Mint.Database/Migrations/20260810191046_AddSystemSettings.Designer.cs
Mint.Database/Migrations/MintDbContextModelSnapshot.cs
Mint.UnitTests/AppServices/System/Bot/ClaimBonusCommandHandlerTests.cs
Mint.UnitTests/AppServices/System/Fixtures/EntityFarmework/ClaimBonusCommandHandlerFixtures.cs
Mint.UnitTests/AppServices/System/Fixtures/Seeding/ButtonClickHandlerSeeder.cs
Mint.UnitTests/AppServices/System/Fixtures/Seeding/ClaimBonusCommandHandlerSeeder.cs
Mint.UnitTests/AppServices/System/WinCalculation/Fixtures/DuelCalculationHandlerFixture.cs
Mint.UnitTests/AppServices/UsersInteractive/Bonuses/Handlers/BonusCalculationHandlerTests.cs
Mint.UnitTests/AppServices/UsersInteractive/Fixtures/BonusCalculationHandlerFixture.cs
Mint.UnitTests/AppServices/UsersInteractive/Fixtures/UserProfilesHandlerFixtures.cs
Mint.UnitTests/AppServices/UsersInteractive/Profiles/Handlers/UserProfilesHandlerTests.cs
Mint.UnitTests/AppServices/UsersInteractive/Seeding/BonusCalculationHandlerSeeder.cs
Mint.UnitTests/AppServices/UsersInteractive/Seeding/UserProfilesHandlerSeeder.cs
